<?xml version="1.0" ?>
<launch>
  <arg name="load_drill_old" default="true" />

  <rosparam command="load" file="$(find data_extraction)/config/data_extraction_controller.yaml"/> 
  <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
    <arg name="load_drill_old" value="$(arg load_drill_old)" />
  </include>
  <node name="identification_tests" pkg="identification_tests" type="identification_tests.py" output="screen" required="true" />
</launch>
